
h1 {
    background-color:black;
    color:cyan;
    font-family: Arial;
    padding:10px;
}
h2 { 
    background-color: rebeccapurple;
    text-align: center;
    font-style: italic;
    color: white;
    padding:5px
}
h3 {
    background-color:lightsteelblue;
    color: blue;
    text-align: right;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}
Span {
    color:white
}